:root {
    font-size: large;
    --background-color: initial;
    --color: initial;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
}
body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    vertical-align: middle;
}
input, button, p, label, legend, div {
    font-size: inherit;
}
button, label {
    outline: none;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}
input:active, input:focus  {
    outline: none;
    border: none;
}
button:active, button:focus  {
    -webkit-tap-highlight-color : none;
    -moz-tap-highlight-color    : none;
    -ms-tap-highlight-color     : none;
    tap-highlight-color: none;
}
@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
        --color: #000;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --background-color: #000;
        --color: white;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
}
img {
    width: 100%;
}
