:root {
    font-size: large;
    --background-color: initial;
    --color: initial;
    --big-box-shadow: rgba(255, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    vertical-align: middle;
}
input, button, p, label, legend, div {
    font-size: inherit;
}
button, label {
    outline: none;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
        --color: #000;
        --big-box-shadow: rgba(149, 243, 255, 0.1);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --background-color: #000;
        --color: white;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
}
.sharing-container {
    max-width: 30em;
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}